@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --main-color : #000000;
    --second-color : #5E5E5E;
    --lightsecond-color : #737373;
    --third-color : #FFFFFF;
    --body-color : #FF6D4C;
    --green-color : #439F46;
    
    --main-font : 'Montserrat', sans-serif;
}

body{
    font-family: var(--main-color);
}
body.front{
    background-color: var(--body-color);
    font-family: var(--third-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* navigation bar */
section{
    margin-top: 25px;
}
.container{
    max-width: 1350px;
}
.navbar{
    background-color: var(--body-color);
}
.navbar .nav-wrapper{
    color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
}
.nav-wrapper .logo{
    font-size: 3rem;
    font-family: var(--main-font);
    font-weight: 700;
    color: white;
}
.nav-wrapper .menu-wrapper{
    display: flex;
}
.nav-wrapper .menu-wrapper .menu{
    display: flex;
}
.menu-wrapper .menu .menu-link{
    font-size: 1rem;
    font-family: var(--main-font);
    color: white;
    font-weight: 700;
}
.menu{
    align-items: center;
}
.menu-link{
    margin-left: 10px;
}
/* navigation bar */
/* home */
.home .home-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home-wrapper .heading{
    font-size: 3.1rem;
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--third-color);
    margin-top: 50px;
}
.home-wrapper .subheading{
    font-size: 1.25rem;
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--third-color);
    max-width: 450px;
    margin-top: 10px;
    margin-bottom: 75px;
}
.home-wrapper .content-left{
    flex: 0 0 35%;
}
.home-wrapper .content-right{
    flex: 0 0 65%;
}
.content-left .btn-signup{
    font-family: var(--main-font);
    color: var(--body-color);
    font-weight: 400;
    background-color: var(--third-color);
    padding: 10px 50px;
    border-radius: 100px;
    font-size: 1.5rem;
}
.content-right .image-wrapper{
    max-width: 750px;
    margin-left: 200px;
}
.content-right .image-wrapper img{
    width: 100%;
}
/* home */

/* Sign Up Succes */
img.tick{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.signup-wrapper .ticktext1{
    font-size: 2rem;
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--main-color);
    margin-bottom: 15px;
}
.signup-wrapper .ticktext2{
    font-size: 1.2rem;
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--main-color);
}
.center{
    margin-top: 50px;
}
.btn-continue{
    font-size: 1.2rem;
    font-family: var(--main-font);
    font-weight: 400;
    color: white;
    background-color: var(--green-color);
    padding: 15px 80px;
    border-radius: 100px;
}

.signup-wrapper{
    margin-top: 100px;
}
/* Sign Up Succes */

/* Sign Up Choice */
.main-container{
    display: flex;
    justify-content: space-between;
}
.right .signup{
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--second-color);
    font-size: 3rem;
    margin-top: 50px;
}
.right{
    text-align: center;
    width: 127.5vh;
}
.btn-dosen{
    font-size: 1.75rem;
    font-family: var(--main-font);
    font-weight: 400;
    color: white;
    background-color: var(--body-color);
    padding: 20px 150px;
    border-radius: 100px;
}
.btn-mahasiswa{
    font-size: 1.75rem;
    font-family: var(--main-font);
    font-weight: 400;
    color: white;
    background-color: var(--body-color);
    padding: 20px 120px;
    border-radius: 100px;
}
.button-signup{
    margin: 100px;
}
/* Sign Up Choice */

/* Login Choice */
.btn-user{
    font-size: 1.75rem;
    font-family: var(--main-font);
    font-weight: 400;
    color: white;
    background-color: var(--body-color);
    padding: 20px 167.5px;
    border-radius: 100px;
}
.btn-admin{
    font-size: 1.75rem;
    font-family: var(--main-font);
    font-weight: 400;
    color: white;
    background-color: var(--body-color);
    padding: 20px 152.5px;
    border-radius: 100px;
}
.btn-kepalaperpustakaan{
    font-size: 1.75rem;
    font-family: var(--main-font);
    font-weight: 400;
    color: white;
    background-color: var(--body-color);
    padding: 20px 50px;
    border-radius: 100px;
}
.button{
    margin-top: 125px;
}
.button2{
    margin-top: -35px;
}
.button-login{
    margin: 75px;
}
.no-account{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1rem;
    color: var(--lightsecond-color);
}
.account{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 175px;
}
.signup-link{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 1rem;
    color: var(--body-color);
    margin-left: 15px;
}
/* Login Choice */
.btn-login{
    font-size: 1.5rem;
    font-family: var(--main-font);
    font-weight: 400;
    color: white;
    background-color: var(--body-color);
    padding: 20px 50px;
    border-radius: 100px;
}
label{
    font-size: 1rem;
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--lightsecond-color);
}
.password-link{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 1rem;
    color: var(--body-color);
    margin-left: 15px;
}
.form {
    flex-direction: column;
    margin: 90px;
}
.form-border {
    background: -webkit-linear-gradient(right, #737373, #737373);
    height: 1px;
    width: 100%;
}
.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    margin-right: 200px;
    font-size: 1rem;
    font-family: var(--main-font);
}
.username{
    max-width: 450px;
    margin: auto;
    margin-bottom: 75px;
}
.password{
    max-width: 450px;
    margin: auto;
    margin-bottom: 25px;
}
.form-create{
    text-align: left;
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--lightsecond-color);
    font-size: 1.1rem;
    margin-left: 100px;
    margin-top: 50px;
}
.create-account2{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 15px;
    margin-left: 20px;

}

